.img-thumbnail{
  z-index: -1;
  color: #000000;
}

.linkElement{
  display:block;

}


.jobContainer{
  margin-top: 20%;
  transition: 0.5s;
  
}

.jobContainer:hover{
  transform: scale(1.3);
  z-index: 5;
}